app/tests/
test_modules/
node_modules/
__pycache__
.pytest_cache/
.mypy_cache/
.serverless/
.git/
.github/
.vscode/
.yarn/
.venv/
.gitignore
docker-compose.yml
package.json
package-lock.json
yarn.lock
README.md
Makefile
